[submodule "site-lisp/lsp-bridge"]
path = site-lisp/lsp-bridge
url = https://github.com/manateelazycat/lsp-bridge.git

[submodule "site-lisp/blink-search"]
path = site-lisp/blink-search
url = https://github.com/manateelazycat/blink-search.git

[submodule "site-lisp/insert-translated-name"]
path = site-lisp/insert-translated-name
url = https://github.com/lizqwerscott/insert-translated-name.git
[submodule "site-lisp/multi-vterm"]
	path = site-lisp/multi-vterm
	url = https://github.com/lizqwerscott/multi-vterm.git
[submodule "site-lisp/holo-layer"]
	path = site-lisp/holo-layer
	url = https://github.com/manateelazycat/holo-layer.git
